* {
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header #title {
    flex-direction: column;
    line-height: 10px;
}

header h1 {
    font-weight: 200;
}

header li {
    display: inline-block;
    margin: 20px;
}

header a {
    color: rgb(255, 255, 255);
}

header a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

header #inscreva-seButton {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

header #inscreva-seButton:hover {
    background: rgb(132, 14, 201);
    color: rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 50px; */
    grid-row: 2;
    align-self: center;
}

main h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

main span {
    color: rgb(132, 14, 201);
}

main p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

main img {
    width: 100%;
}

main form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

main form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

main form [type="submit"]:hover {
    cursor: pointer;
}

main input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

main input:focus {
    outline: none;
}